<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-form-item">
            <label class="layui-form-label">记录名</label>
            <div class="layui-input-block">
                <input type="text" name="recordName" lay-verify="required" lay-reqtext="必填项" placeholder="请输入"
                       autocomplete="off" class="layui-input" readonly="ture" disabled="ture">
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <label class="layui-form-label">起始时间</label>
            <div class="layui-input-block">
                <input type="text" name="start" lay-verify="required" lay-reqtext="必填项" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="end" lay-verify="required" lay-reqtext="必填项" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <hr/>
    123

</div>

<script src="/js/urlGlobalConfig.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/landRecord/landRecord.js"></script>
<script src="/js/utils/getQueryString.js"></script>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        var recordName = getQueryString("recordName");

        landRecord.selRecord(function (result) {
            var data = result.data;
            $("input[name=recordName]").val(data.rec_name);
            $("input[name=recordCh]").val(data.rec_character_name);
            $("input[name=start]").val(data.rec_time_start);
            $("input[name=end]").val(data.rec_time_end);
        },recordName);

        // 日期渲染
        laydate.render({
            type: 'datetime',
            elem: $("input[name=start]")[0] //指定元素
        });
        laydate.render({
            type: 'datetime',
            elem: $("input[name=end]")[0] //指定元素
        });
    })
</script>
</body>

</html>