<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>
<form class="layui-fluid layui-form" name="record-form" id="record-form">
    <div class="layui-row" style="display: none">
        <div class="layui-form-item">
            <label class="layui-form-label">记录名</label>
            <div class="layui-input-block">
                <input type="text" name="recordName" lay-verify="required" lay-reqtext="必填项" placeholder="请输入"
                       autocomplete="off" class="layui-input" readonly="ture" disabled="ture" value="#">
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <label class="layui-form-label">起始时间</label>
            <div class="layui-input-block">
                <input type="text" name="start" lay-verify="required" lay-reqtext="必填项" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="end" lay-verify="required" lay-reqtext="必填项" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <hr/>
    <div id="record-cols">
        <!-- 内容 -->
    </div>
    <hr/>

    <div class="layui-row">
        <div class="layui-input-block">
            <input type="submmit" name="record-btn-submit" id="record-btn-submit" class="layui-btn" value="提交"
                   lay-submit="return false" lay-filter="record-btn-submit" readonly="true"/>
        </div>
    </div>

</form>

<script src="/js/urlGlobalConfig.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/landRecord/landRecord.js"></script>
<script src="/js/utils/getQueryString.js"></script>
<script src="/js/utils/String.replaceAll.js"></script>

<!-- 项 模版 -->
<script type="text/html" id="colDemo">
    <div class="layui-row">
        <div class="layui-form-item">
            <label class="layui-form-label">{{name}}</label>
            <div class="layui-input-block">
                <input type="text" name="{{name}}" lay-verify="required" lay-reqtext="必填项" placeholder="请输入"
                       autocomplete="off" class="layui-input" value="{{value}}">
            </div>
        </div>
    </div>
</script>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        var recordName = getQueryString("recordName");
        var recordId = getQueryString("recordId");
        var isInsert = getQueryString("isInsert");

        // 渲染表单 修改
        var drawForm = function (result) {
            var data = result.data;

            $("input[name=start]").val(data.timeStart[0] + "-"
                + (data.timeStart[1] > 9 ? data.timeStart[1] : ("0" + data.timeStart[1])) + "-"
                + (data.timeStart[2] > 9 ? data.timeStart[2] : ("0" + data.timeStart[2])));
            $("input[name=end]").val(data.timeEnd[0] + "-"
                + (data.timeEnd[1] > 9 ? data.timeEnd[1] : ("0" + data.timeEnd[1])) + "-"
                + (data.timeEnd[2] > 9 ? data.timeEnd[2] : ("0" + data.timeEnd[2])));

            var cols = result.data.cols;
            for (var name in cols) {
                var innerhtml = $("#colDemo").html();
                var value = cols[name] == null ? "" : cols[name];
                innerhtml = innerhtml.replaceAll("{{name}}", name).replaceAll("{{value}}", value);
                $("#record-cols").append($(innerhtml));
            }

        }
        // 渲染表单 添加
        var drawFormTitle = function (result) {
            var cols = result.data;
            for (var n in cols) {
                var innerhtml = $("#colDemo").html();
                innerhtml = innerhtml.replaceAll("{{name}}", cols[n]).replaceAll("{{value}}", "");
                $("#record-cols").append($(innerhtml));
            }

        }
        if (!isInsert)
            landRecord.selRecordTableRow(drawForm, recordId);
        else
            landRecord.getTitle(drawFormTitle);

        // 日期渲染
        laydate.render({
            type: 'date',
            elem: $("input[name=start]")[0] //指定元素
        });
        laydate.render({
            type: 'date',
            elem: $("input[name=end]")[0] //指定元素
        });

        // 提交动作
        form.on('submit(record-btn-submit)', function () {
            var cols = {};
            $("#record-cols input").each(function (num, col) {
                //   alert(JSON.stringify(col))
                cols[col.name] = col.value;
            });

            if (!isInsert) {// 增 or 改
                landRecord.altRecordTable(function (result) {
                    if (result.status == 200) {
                        alert(result.msg);
                    }
                    //   alert(JSON.stringify(cols))
                }, recordId, JSON.stringify(cols), $("input[name=start]").val() + " 00:00:00", $("input[name=end]").val() + " 23:59:59");
            } else {
                landRecord.insRecordTable(function (result) {
                    if (result.status == 200) {
                        alert(result.msg);
                        if (isInsert) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }
                    }
                    //   alert(JSON.stringify(cols))
                }, $("input[name=start]").val() + " 00:00:00", $("input[name=end]").val() + " 23:59:59", JSON.stringify(cols));
            }
            return false;
        });

    })
</script>
</body>

</html>