<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neau.cekong.mapper.DatWeatherMapper">
  <resultMap id="BaseResultMap" type="neau.cekong.pojo.DatWeather">
    <id column="dat_weather_retime" jdbcType="TIMESTAMP" property="retime" />
    <result column="dat_weather_TA" jdbcType="DECIMAL" property="TA" />
    <result column="dat_weather_RH" jdbcType="DECIMAL" property="RH" />
    <result column="dat_weather_PPM" jdbcType="DECIMAL" property="PPM" />
    <result column="dat_weather_WD" jdbcType="DECIMAL" property="WD" />
    <result column="dat_weather_PRESS" jdbcType="DECIMAL" property="PRESS" />
    <result column="dat_weather_DEPTH" jdbcType="DECIMAL" property="DEPTH" />
    <result column="dat_weather_PAR" jdbcType="DECIMAL" property="PAR" />
    <result column="dat_weather_RA" jdbcType="DECIMAL" property="RA" />
    <result column="dat_weather_UV3" jdbcType="DECIMAL" property="UV3" />
    <result column="dat_weather_NET_R" jdbcType="DECIMAL" property="NET_R" />
    <result column="dat_weather_TS1" jdbcType="DECIMAL" property="TS1" />
    <result column="dat_weather_TS2" jdbcType="DECIMAL" property="TS2" />
    <result column="dat_weather_TS3" jdbcType="DECIMAL" property="TS3" />
    <result column="dat_weather_TS4" jdbcType="DECIMAL" property="TS4" />
    <result column="dat_weather_TS5" jdbcType="DECIMAL" property="TS5" />
    <result column="dat_weather_MS1" jdbcType="DECIMAL" property="MS1" />
    <result column="dat_weather_MS2" jdbcType="DECIMAL" property="MS2" />
    <result column="dat_weather_MS3" jdbcType="DECIMAL" property="MS3" />
    <result column="dat_weather_MS4" jdbcType="DECIMAL" property="MS4" />
    <result column="dat_weather_MS5" jdbcType="DECIMAL" property="MS5" />
    <result column="dat_weather_WS" jdbcType="DECIMAL" property="WS" />
    <result column="dat_weather_RAIN" jdbcType="DECIMAL" property="RAIN" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dat_weather.retime as dat_weather_retime, dat_weather.TA as dat_weather_TA, dat_weather.RH as dat_weather_RH, 
    dat_weather.PPM as dat_weather_PPM, dat_weather.WD as dat_weather_WD, dat_weather.PRESS as dat_weather_PRESS, 
    dat_weather.`DEPTH` as `dat_weather_DEPTH`, dat_weather.PAR as dat_weather_PAR, dat_weather.RA as dat_weather_RA, 
    dat_weather.UV3 as dat_weather_UV3, dat_weather.NET_R as dat_weather_NET_R, dat_weather.TS1 as dat_weather_TS1, 
    dat_weather.TS2 as dat_weather_TS2, dat_weather.TS3 as dat_weather_TS3, dat_weather.TS4 as dat_weather_TS4, 
    dat_weather.TS5 as dat_weather_TS5, dat_weather.MS1 as dat_weather_MS1, dat_weather.MS2 as dat_weather_MS2, 
    dat_weather.MS3 as dat_weather_MS3, dat_weather.MS4 as dat_weather_MS4, dat_weather.MS5 as dat_weather_MS5, 
    dat_weather.WS as dat_weather_WS, dat_weather.RAIN as dat_weather_RAIN
  </sql>
  <select id="selectByExample" parameterType="neau.cekong.pojo.DatWeatherExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dat_weather dat_weather
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
    <if test="forUpdate != null and forUpdate == true">
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.time.LocalDateTime" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dat_weather dat_weather
    where dat_weather.retime = #{retime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.time.LocalDateTime">
    delete from dat_weather
    where retime = #{retime,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="neau.cekong.pojo.DatWeatherExample">
    delete from dat_weather dat_weather
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="retime" keyProperty="retime" parameterType="neau.cekong.pojo.DatWeather" useGeneratedKeys="true">
    insert into dat_weather (TA, RH, PPM, 
      WD, PRESS, `DEPTH`, PAR, 
      RA, UV3, NET_R, TS1, 
      TS2, TS3, TS4, TS5, 
      MS1, MS2, MS3, MS4, 
      MS5, WS, RAIN)
    values (#{TA,jdbcType=DECIMAL}, #{RH,jdbcType=DECIMAL}, #{PPM,jdbcType=DECIMAL}, 
      #{WD,jdbcType=DECIMAL}, #{PRESS,jdbcType=DECIMAL}, #{DEPTH,jdbcType=DECIMAL}, #{PAR,jdbcType=DECIMAL}, 
      #{RA,jdbcType=DECIMAL}, #{UV3,jdbcType=DECIMAL}, #{NET_R,jdbcType=DECIMAL}, #{TS1,jdbcType=DECIMAL}, 
      #{TS2,jdbcType=DECIMAL}, #{TS3,jdbcType=DECIMAL}, #{TS4,jdbcType=DECIMAL}, #{TS5,jdbcType=DECIMAL}, 
      #{MS1,jdbcType=DECIMAL}, #{MS2,jdbcType=DECIMAL}, #{MS3,jdbcType=DECIMAL}, #{MS4,jdbcType=DECIMAL}, 
      #{MS5,jdbcType=DECIMAL}, #{WS,jdbcType=DECIMAL}, #{RAIN,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" keyColumn="retime" keyProperty="retime" parameterType="neau.cekong.pojo.DatWeather" useGeneratedKeys="true">
    insert into dat_weather
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="TA != null">
        TA,
      </if>
      <if test="RH != null">
        RH,
      </if>
      <if test="PPM != null">
        PPM,
      </if>
      <if test="WD != null">
        WD,
      </if>
      <if test="PRESS != null">
        PRESS,
      </if>
      <if test="DEPTH != null">
        `DEPTH`,
      </if>
      <if test="PAR != null">
        PAR,
      </if>
      <if test="RA != null">
        RA,
      </if>
      <if test="UV3 != null">
        UV3,
      </if>
      <if test="NET_R != null">
        NET_R,
      </if>
      <if test="TS1 != null">
        TS1,
      </if>
      <if test="TS2 != null">
        TS2,
      </if>
      <if test="TS3 != null">
        TS3,
      </if>
      <if test="TS4 != null">
        TS4,
      </if>
      <if test="TS5 != null">
        TS5,
      </if>
      <if test="MS1 != null">
        MS1,
      </if>
      <if test="MS2 != null">
        MS2,
      </if>
      <if test="MS3 != null">
        MS3,
      </if>
      <if test="MS4 != null">
        MS4,
      </if>
      <if test="MS5 != null">
        MS5,
      </if>
      <if test="WS != null">
        WS,
      </if>
      <if test="RAIN != null">
        RAIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="TA != null">
        #{TA,jdbcType=DECIMAL},
      </if>
      <if test="RH != null">
        #{RH,jdbcType=DECIMAL},
      </if>
      <if test="PPM != null">
        #{PPM,jdbcType=DECIMAL},
      </if>
      <if test="WD != null">
        #{WD,jdbcType=DECIMAL},
      </if>
      <if test="PRESS != null">
        #{PRESS,jdbcType=DECIMAL},
      </if>
      <if test="DEPTH != null">
        #{DEPTH,jdbcType=DECIMAL},
      </if>
      <if test="PAR != null">
        #{PAR,jdbcType=DECIMAL},
      </if>
      <if test="RA != null">
        #{RA,jdbcType=DECIMAL},
      </if>
      <if test="UV3 != null">
        #{UV3,jdbcType=DECIMAL},
      </if>
      <if test="NET_R != null">
        #{NET_R,jdbcType=DECIMAL},
      </if>
      <if test="TS1 != null">
        #{TS1,jdbcType=DECIMAL},
      </if>
      <if test="TS2 != null">
        #{TS2,jdbcType=DECIMAL},
      </if>
      <if test="TS3 != null">
        #{TS3,jdbcType=DECIMAL},
      </if>
      <if test="TS4 != null">
        #{TS4,jdbcType=DECIMAL},
      </if>
      <if test="TS5 != null">
        #{TS5,jdbcType=DECIMAL},
      </if>
      <if test="MS1 != null">
        #{MS1,jdbcType=DECIMAL},
      </if>
      <if test="MS2 != null">
        #{MS2,jdbcType=DECIMAL},
      </if>
      <if test="MS3 != null">
        #{MS3,jdbcType=DECIMAL},
      </if>
      <if test="MS4 != null">
        #{MS4,jdbcType=DECIMAL},
      </if>
      <if test="MS5 != null">
        #{MS5,jdbcType=DECIMAL},
      </if>
      <if test="WS != null">
        #{WS,jdbcType=DECIMAL},
      </if>
      <if test="RAIN != null">
        #{RAIN,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="neau.cekong.pojo.DatWeatherExample" resultType="java.lang.Long">
    select count(*) from dat_weather dat_weather
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dat_weather dat_weather
    <set>
      <if test="record.retime != null">
        dat_weather.retime = #{record.retime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.TA != null">
        dat_weather.TA = #{record.TA,jdbcType=DECIMAL},
      </if>
      <if test="record.RH != null">
        dat_weather.RH = #{record.RH,jdbcType=DECIMAL},
      </if>
      <if test="record.PPM != null">
        dat_weather.PPM = #{record.PPM,jdbcType=DECIMAL},
      </if>
      <if test="record.WD != null">
        dat_weather.WD = #{record.WD,jdbcType=DECIMAL},
      </if>
      <if test="record.PRESS != null">
        dat_weather.PRESS = #{record.PRESS,jdbcType=DECIMAL},
      </if>
      <if test="record.DEPTH != null">
        dat_weather.`DEPTH` = #{record.DEPTH,jdbcType=DECIMAL},
      </if>
      <if test="record.PAR != null">
        dat_weather.PAR = #{record.PAR,jdbcType=DECIMAL},
      </if>
      <if test="record.RA != null">
        dat_weather.RA = #{record.RA,jdbcType=DECIMAL},
      </if>
      <if test="record.UV3 != null">
        dat_weather.UV3 = #{record.UV3,jdbcType=DECIMAL},
      </if>
      <if test="record.NET_R != null">
        dat_weather.NET_R = #{record.NET_R,jdbcType=DECIMAL},
      </if>
      <if test="record.TS1 != null">
        dat_weather.TS1 = #{record.TS1,jdbcType=DECIMAL},
      </if>
      <if test="record.TS2 != null">
        dat_weather.TS2 = #{record.TS2,jdbcType=DECIMAL},
      </if>
      <if test="record.TS3 != null">
        dat_weather.TS3 = #{record.TS3,jdbcType=DECIMAL},
      </if>
      <if test="record.TS4 != null">
        dat_weather.TS4 = #{record.TS4,jdbcType=DECIMAL},
      </if>
      <if test="record.TS5 != null">
        dat_weather.TS5 = #{record.TS5,jdbcType=DECIMAL},
      </if>
      <if test="record.MS1 != null">
        dat_weather.MS1 = #{record.MS1,jdbcType=DECIMAL},
      </if>
      <if test="record.MS2 != null">
        dat_weather.MS2 = #{record.MS2,jdbcType=DECIMAL},
      </if>
      <if test="record.MS3 != null">
        dat_weather.MS3 = #{record.MS3,jdbcType=DECIMAL},
      </if>
      <if test="record.MS4 != null">
        dat_weather.MS4 = #{record.MS4,jdbcType=DECIMAL},
      </if>
      <if test="record.MS5 != null">
        dat_weather.MS5 = #{record.MS5,jdbcType=DECIMAL},
      </if>
      <if test="record.WS != null">
        dat_weather.WS = #{record.WS,jdbcType=DECIMAL},
      </if>
      <if test="record.RAIN != null">
        dat_weather.RAIN = #{record.RAIN,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dat_weather dat_weather
    set dat_weather.retime = #{record.retime,jdbcType=TIMESTAMP},
      dat_weather.TA = #{record.TA,jdbcType=DECIMAL},
      dat_weather.RH = #{record.RH,jdbcType=DECIMAL},
      dat_weather.PPM = #{record.PPM,jdbcType=DECIMAL},
      dat_weather.WD = #{record.WD,jdbcType=DECIMAL},
      dat_weather.PRESS = #{record.PRESS,jdbcType=DECIMAL},
      dat_weather.`DEPTH` = #{record.DEPTH,jdbcType=DECIMAL},
      dat_weather.PAR = #{record.PAR,jdbcType=DECIMAL},
      dat_weather.RA = #{record.RA,jdbcType=DECIMAL},
      dat_weather.UV3 = #{record.UV3,jdbcType=DECIMAL},
      dat_weather.NET_R = #{record.NET_R,jdbcType=DECIMAL},
      dat_weather.TS1 = #{record.TS1,jdbcType=DECIMAL},
      dat_weather.TS2 = #{record.TS2,jdbcType=DECIMAL},
      dat_weather.TS3 = #{record.TS3,jdbcType=DECIMAL},
      dat_weather.TS4 = #{record.TS4,jdbcType=DECIMAL},
      dat_weather.TS5 = #{record.TS5,jdbcType=DECIMAL},
      dat_weather.MS1 = #{record.MS1,jdbcType=DECIMAL},
      dat_weather.MS2 = #{record.MS2,jdbcType=DECIMAL},
      dat_weather.MS3 = #{record.MS3,jdbcType=DECIMAL},
      dat_weather.MS4 = #{record.MS4,jdbcType=DECIMAL},
      dat_weather.MS5 = #{record.MS5,jdbcType=DECIMAL},
      dat_weather.WS = #{record.WS,jdbcType=DECIMAL},
      dat_weather.RAIN = #{record.RAIN,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="neau.cekong.pojo.DatWeather">
    update dat_weather
    <set>
      <if test="TA != null">
        TA = #{TA,jdbcType=DECIMAL},
      </if>
      <if test="RH != null">
        RH = #{RH,jdbcType=DECIMAL},
      </if>
      <if test="PPM != null">
        PPM = #{PPM,jdbcType=DECIMAL},
      </if>
      <if test="WD != null">
        WD = #{WD,jdbcType=DECIMAL},
      </if>
      <if test="PRESS != null">
        PRESS = #{PRESS,jdbcType=DECIMAL},
      </if>
      <if test="DEPTH != null">
        `DEPTH` = #{DEPTH,jdbcType=DECIMAL},
      </if>
      <if test="PAR != null">
        PAR = #{PAR,jdbcType=DECIMAL},
      </if>
      <if test="RA != null">
        RA = #{RA,jdbcType=DECIMAL},
      </if>
      <if test="UV3 != null">
        UV3 = #{UV3,jdbcType=DECIMAL},
      </if>
      <if test="NET_R != null">
        NET_R = #{NET_R,jdbcType=DECIMAL},
      </if>
      <if test="TS1 != null">
        TS1 = #{TS1,jdbcType=DECIMAL},
      </if>
      <if test="TS2 != null">
        TS2 = #{TS2,jdbcType=DECIMAL},
      </if>
      <if test="TS3 != null">
        TS3 = #{TS3,jdbcType=DECIMAL},
      </if>
      <if test="TS4 != null">
        TS4 = #{TS4,jdbcType=DECIMAL},
      </if>
      <if test="TS5 != null">
        TS5 = #{TS5,jdbcType=DECIMAL},
      </if>
      <if test="MS1 != null">
        MS1 = #{MS1,jdbcType=DECIMAL},
      </if>
      <if test="MS2 != null">
        MS2 = #{MS2,jdbcType=DECIMAL},
      </if>
      <if test="MS3 != null">
        MS3 = #{MS3,jdbcType=DECIMAL},
      </if>
      <if test="MS4 != null">
        MS4 = #{MS4,jdbcType=DECIMAL},
      </if>
      <if test="MS5 != null">
        MS5 = #{MS5,jdbcType=DECIMAL},
      </if>
      <if test="WS != null">
        WS = #{WS,jdbcType=DECIMAL},
      </if>
      <if test="RAIN != null">
        RAIN = #{RAIN,jdbcType=DECIMAL},
      </if>
    </set>
    where retime = #{retime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="neau.cekong.pojo.DatWeather">
    update dat_weather
    set TA = #{TA,jdbcType=DECIMAL},
      RH = #{RH,jdbcType=DECIMAL},
      PPM = #{PPM,jdbcType=DECIMAL},
      WD = #{WD,jdbcType=DECIMAL},
      PRESS = #{PRESS,jdbcType=DECIMAL},
      `DEPTH` = #{DEPTH,jdbcType=DECIMAL},
      PAR = #{PAR,jdbcType=DECIMAL},
      RA = #{RA,jdbcType=DECIMAL},
      UV3 = #{UV3,jdbcType=DECIMAL},
      NET_R = #{NET_R,jdbcType=DECIMAL},
      TS1 = #{TS1,jdbcType=DECIMAL},
      TS2 = #{TS2,jdbcType=DECIMAL},
      TS3 = #{TS3,jdbcType=DECIMAL},
      TS4 = #{TS4,jdbcType=DECIMAL},
      TS5 = #{TS5,jdbcType=DECIMAL},
      MS1 = #{MS1,jdbcType=DECIMAL},
      MS2 = #{MS2,jdbcType=DECIMAL},
      MS3 = #{MS3,jdbcType=DECIMAL},
      MS4 = #{MS4,jdbcType=DECIMAL},
      MS5 = #{MS5,jdbcType=DECIMAL},
      WS = #{WS,jdbcType=DECIMAL},
      RAIN = #{RAIN,jdbcType=DECIMAL}
    where retime = #{retime,jdbcType=TIMESTAMP}
  </update>
</mapper>