<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neau.cekong.mapper.RecRemarkMapper">
  <resultMap id="BaseResultMap" type="neau.cekong.pojo.RecRemark">
    <id column="rec_remark_id" jdbcType="INTEGER" property="rec_remark_id" />
    <result column="rec_id" jdbcType="INTEGER" property="rec_id" />
    <result column="rec_remark_key" jdbcType="VARCHAR" property="rec_remark_key" />
    <result column="rec_remark_value" jdbcType="VARCHAR" property="rec_remark_value" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rec_remark_id, rec_id, rec_remark_key, rec_remark_value
  </sql>
  <select id="selectByExample" parameterType="neau.cekong.pojo.RecRemarkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rec_remark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
    <if test="forUpdate != null and forUpdate == true">
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rec_remark
    where rec_remark_id = #{rec_remark_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rec_remark
    where rec_remark_id = #{rec_remark_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="neau.cekong.pojo.RecRemarkExample">
    delete from rec_remark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="neau.cekong.pojo.RecRemark">
    insert into rec_remark (rec_remark_id, rec_id, rec_remark_key, 
      rec_remark_value)
    values (#{rec_remark_id,jdbcType=INTEGER}, #{rec_id,jdbcType=INTEGER}, #{rec_remark_key,jdbcType=VARCHAR}, 
      #{rec_remark_value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="neau.cekong.pojo.RecRemark">
    insert into rec_remark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rec_remark_id != null">
        rec_remark_id,
      </if>
      <if test="rec_id != null">
        rec_id,
      </if>
      <if test="rec_remark_key != null">
        rec_remark_key,
      </if>
      <if test="rec_remark_value != null">
        rec_remark_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rec_remark_id != null">
        #{rec_remark_id,jdbcType=INTEGER},
      </if>
      <if test="rec_id != null">
        #{rec_id,jdbcType=INTEGER},
      </if>
      <if test="rec_remark_key != null">
        #{rec_remark_key,jdbcType=VARCHAR},
      </if>
      <if test="rec_remark_value != null">
        #{rec_remark_value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="neau.cekong.pojo.RecRemarkExample" resultType="java.lang.Long">
    select count(*) from rec_remark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rec_remark
    <set>
      <if test="record.rec_remark_id != null">
        rec_remark_id = #{record.rec_remark_id,jdbcType=INTEGER},
      </if>
      <if test="record.rec_id != null">
        rec_id = #{record.rec_id,jdbcType=INTEGER},
      </if>
      <if test="record.rec_remark_key != null">
        rec_remark_key = #{record.rec_remark_key,jdbcType=VARCHAR},
      </if>
      <if test="record.rec_remark_value != null">
        rec_remark_value = #{record.rec_remark_value,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rec_remark
    set rec_remark_id = #{record.rec_remark_id,jdbcType=INTEGER},
      rec_id = #{record.rec_id,jdbcType=INTEGER},
      rec_remark_key = #{record.rec_remark_key,jdbcType=VARCHAR},
      rec_remark_value = #{record.rec_remark_value,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="neau.cekong.pojo.RecRemark">
    update rec_remark
    <set>
      <if test="rec_id != null">
        rec_id = #{rec_id,jdbcType=INTEGER},
      </if>
      <if test="rec_remark_key != null">
        rec_remark_key = #{rec_remark_key,jdbcType=VARCHAR},
      </if>
      <if test="rec_remark_value != null">
        rec_remark_value = #{rec_remark_value,jdbcType=VARCHAR},
      </if>
    </set>
    where rec_remark_id = #{rec_remark_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="neau.cekong.pojo.RecRemark">
    update rec_remark
    set rec_id = #{rec_id,jdbcType=INTEGER},
      rec_remark_key = #{rec_remark_key,jdbcType=VARCHAR},
      rec_remark_value = #{rec_remark_value,jdbcType=VARCHAR}
    where rec_remark_id = #{rec_remark_id,jdbcType=INTEGER}
  </update>
</mapper>